In [1]:
#Working with Tuples 1.2.10
#Tuples are like lists except that once created, they cannot be changed

#Creating a tuple
tuple_1= ('Python', 'Java', 'SQL')

#Print Tuple and count length
print(tuple_1)
len(tuple_1)

('Python', 'Java', 'SQL')

3

In [2]:
# Example of a list with different data types.
tuple_a = ('apple', 'banana', 5, 2, 10.2, 8.3)

print(tuple_a)

#tuples can contain different data types

('apple', 'banana', 5, 2, 10.2, 8.3)

In [3]:
# Example of a list with duplicate items.
tuple_b = ('apple', 'banana', 5, 2, 10.2, 8.3,
           'apple', 'banana', 5, 2, 10.2, 8.3)

print(tuple_b)

#Tuples can contain duplicate values

('apple', 'banana', 5, 2, 10.2, 8.3, 'apple', 'banana', 5, 2, 10.2, 8.3)

In [5]:
#Nested Tuple is a tuple inside a tuple

# Example of a nested tupple. 
tuple_c = ('apple', 'banana', 5, 2, 10.2, 8.3,
           ('apple', 'banana', 5, 2, 10.2, 8.3))

print(tuple_c)
len(tuple_c)

#Tuple treats the items inside the second ( ) as just one item, same as nested lists 
#Look at the len function to confirm this

('apple', 'banana', 5, 2, 10.2, 8.3, ('apple', 'banana', 5, 2, 10.2, 8.3))

7

In [7]:
# Example of the tuple() constructor. 
# Notice the round brackets.
tup_1 = tuple(['Venus', 1, 'Mars']) 

tup_1

#This method means you dont need to type print 
# But see what happens if you use print too

print(tup_1)

#Same result as just typing tup_1

('Venus', 1, 'Mars')

In [8]:
# Create a tuple.
tuple_1 = ('Python', 'Java', 'Ruby')

# Example of indexing.
# Note: index position in Python starts at 0.
# Locate item at index position 1.
tuple_1[1]

print(tuple_1[1])

Java

In [9]:
# Example of nesting tuples within tuples.
nested_tup = (1, 2, 3, (4, 5, 6))

# Print the length of the nested tuple.
print(len(nested_tup))

# This will show item at index position 1.
print(nested_tup[1])

# This will show item at index position 3.
print(nested_tup[3])

4
2
(4, 5, 6)

In [11]:
# Example of the len() function.
# Start with a tuple .
planets = ('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 
          'Saturn', 'Uranus', 'Neptune')

# Measure the length of the tuple.
len(planets)

8

In [12]:
#Combining tuples with + operator

# Original tuples.
print(planets)
print(tuple_1)

# Example of using the + operator.
tuple_d = planets + tuple_1

# This will show the concatenated tuple.
print(tuple_d)
print(len(tuple_d))

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('Python', 'Java', 'Ruby')
('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Python', 'Java', 'Ruby')
11

In [13]:
#Tuples can be used with * operator to multiply

# Original tuple.
print(nested_tup)

# Example of using the * operator.
# This will make three copies of the tuple.
nested_tup * 3

(1, 2, 3, (4, 5, 6))

(1, 2, 3, (4, 5, 6), 1, 2, 3, (4, 5, 6), 1, 2, 3, (4, 5, 6))

In [14]:
# Example of using max() and min().
a = (1, 13, 44, 23)

# This will show the highest value.
print(max(a))

# This will show the lowest value.
print(min(a))

44
1

In [15]:
#Unpacking Tuples can only occur if the left operand is equal to right operand

# Example of assigning values to objects.
celestial_objects = ('Earth', 'Saturn', 'Pluto')

# Notice the sequence.
planet, gas_giant, dwarf_planet = celestial_objects

# Each of these will output the corresponding object from the tuple.
print(planet)
print(gas_giant)
print(dwarf_planet)
print(dwarf_planet, gas_giant, planet)

#Bascially labels each item within a tuple with an alternative name

Earth
Saturn
Pluto
Pluto Saturn Earth

In [16]:
#Unequal number of variables doesnt work

# Example when the number of variables isn't equal.
celestial_objects = ('Earth', 'Saturn', 'Pluto')

# Notice two variables, while the tuple contains three objects.
# This will result in an error.
planet, gas_giant = celestial_objects

ValueError: too many values to unpack (expected 2)

In [19]:
#practical example to test knowledge

tuple_sc = ('tuli', 'teesh', '2012', '2015', '2.24')

print(tuple_sc)
len(tuple_sc)
print(min(tuple_sc))
print(max(tuple_sc))

print(tuple_sc[0])
print(tuple_sc[3])

('tuli', 'teesh', '2012', '2015', '2.24')
2.24
tuli
tuli
2015

In [25]:
#Dictionary is used to store values in this format of key:value pairs
#Note use of {}
#Note each key value is joined together by :

dict_1 = {'key1': 'Name',
        'key2': 'Age',
        'key3': 1964}

print(dict_1)

{'key1': 'Name', 'key2': 'Age', 'key3': 1964}

In [26]:
#changing keys in dictionaries

# Original dictionary.
print(dict_1)

# Change the value of key 2.
dict_1['key2'] = 'new_value'

print(dict_1)

{'key1': 'Name', 'key2': 'Age', 'key3': 1964}
{'key1': 'Name', 'key2': 'new_value', 'key3': 1964}

In [28]:
#Adding new key values in an existing dictionary
# Dictionary before edits.
print(dict_1)

# Add a new key value pair.
dict_1['key4'] = 'address'

print(dict_1)

{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': 'address'}
{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': 'address'}

In [29]:
#Replacing a value within a list

# Dictionary before edits.
print(dict_1)

# Example of changing and replacing values in a dictionary.
dict_1['key4'] = ['48 Mainstreet']

print(dict_1)

{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': 'address'}
{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': ['48 Mainstreet']}

In [31]:
#Changing values in keys

# Original dictionary.
print(dict_1)

# Change the value of key 2.
dict_1['key2'] = 'new_value'

print(dict_1)

{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': ['48 Mainstreet']}
{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': ['48 Mainstreet']}

In [32]:
#Adding keys

# Dictionary before edits.
print(dict_1)

# Add a new key value pair.
dict_1['key4'] = 'address'

print(dict_1)

{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': ['48 Mainstreet']}
{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': 'address'}

In [33]:
#replacing a value with a list

# Dictionary before edits.
print(dict_1)

# Example of changing and replacing values in a dictionary.
dict_1['key4'] = ['48 Mainstreet']

print(dict_1)

{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': 'address'}
{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': ['48 Mainstreet']}

In [34]:
#Storing the value of a key in a seperate variable

# Dictionary before edits.
print(dict_1)

# Example of storing values in a separate variable.
# Define the new variable.
new_val = dict_1['key4']

print(new_val)

{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': ['48 Mainstreet']}
['48 Mainstreet']

In [35]:
#Deleting entries from a dictionary

# Dictionary before edits.
print(dict_1)

# Example of deleting an entry from a dictionary.
# Delete an entry.
del dict_1['key1']

print(dict_1)

{'key1': 'Name', 'key2': 'new_value', 'key3': 1964, 'key4': ['48 Mainstreet']}
{'key2': 'new_value', 'key3': 1964, 'key4': ['48 Mainstreet']}

In [36]:
#Using the pop method to delete an entry

# Dictionary before edits.
print(dict_1)

# Example of deleting an entry from a dictionary using the pop() method.
# Delete key 3.
dict_1.pop('key3')

print(dict_1)

{'key2': 'new_value', 'key3': 1964, 'key4': ['48 Mainstreet']}
{'key2': 'new_value', 'key4': ['48 Mainstreet']}

In [37]:
#An iterator is an object containing a countable number of values. 
#You can also iterate throughout all the values.

# Example of the keys() method.
dict_1 = {'key1': 'Name', 'key2': 'Age', 'key3': 1964}

# Show keys only.
print(dict_1.keys())

# Show values only.
print(dict_1.values())

dict_keys(['key1', 'key2', 'key3'])
dict_values(['Name', 'Age', 1964])

In [38]:
#Creating a dictionary from from two seperate sequences using zip function

# Example of creating a dictionary from a sequence.
key_list = ['key1', 'key2', 'key3', 'key4', 'key5']
value_list = ['Apple', 'Fruit', 'Red', 'Juicy', 'Firm']

# View keys.
print(key_list)

# View values.
print(value_list)

# Creating new dictionary .
dict_3 = dict(zip(key_list, value_list))

# View dictionary.
print(dict_3)

['key1', 'key2', 'key3', 'key4', 'key5']
['Apple', 'Fruit', 'Red', 'Juicy', 'Firm']
{'key1': 'Apple', 'key2': 'Fruit', 'key3': 'Red', 'key4': 'Juicy', 'key5': 'Firm'}

In [30]:
#A set is an unordered collection of unique elements with no duplicates

# Example of a set.
set1 = set([1, 2, 3, 4, 4, 2])

# View the set.
print(set1)

# View the data type.
print(type(set1))

{1, 2, 3, 4}
<class 'set'>

In [39]:
#A set can also be created by using curly brackets {}

# Example of a set.
set2 = {5, 6, 7, 7, 6, 5}

# View the set.
print(set2)

# View the data type.
print(type(set2))

{5, 6, 7}
<class 'set'>

In [40]:
# Example of adding an item to a set.
# Use the .add() method.
set1.add('cake')

# View the set.
print(set1)

# View the data type.
print(type(set1))

{1, 2, 3, 4, 'cake'}
<class 'set'>

In [41]:
# Example of adding an item to a set.
# Use the .update() method.
set1.update(set2)

# View the set.
print(set1)

# View the data type.
print(type(set1))

{1, 2, 3, 4, 5, 6, 7, 'cake'}
<class 'set'>

In [42]:
# Example of the union() method.
# Create two new sets.
set3 = {'apple', 'banana', 'cherry'}
set4 = {'google', 'microsoft', 'apple'}

# View the set1, set3, set4.
print(set1)
print(set3)
print(set4)

# Syntax: set.union(set1, set2...).
set5 = set1.union(set3, set4)

# View the set.
print(set5)

# View the data type.
print(type(set5))

{1, 2, 3, 4, 5, 6, 7, 'cake'}
{'cherry', 'apple', 'banana'}
{'google', 'apple', 'microsoft'}
{1, 2, 3, 4, 5, 6, 7, 'cherry', 'cake', 'apple', 'google', 'banana', 'microsoft'}
<class 'set'>

In [43]:
# View the set.
print(set3)
print(set4)

# Example of the intersection() method.
# Use the intersection() method.
# Syntax : set.intersection(set1, set2 ... etc).
z = set3.intersection(set4)

# View the set.
print(z)

# View the data type.
print(type(z))

{'cherry', 'apple', 'banana'}
{'google', 'apple', 'microsoft'}
{'apple'}
<class 'set'>

In [44]:
#Removing elements from set 4 that are in set 3 using difference method

# View the set.
print(set3)
print(set4)

# Example of the .difference() method.
# Syntax : set.difference(set).
x = set4.difference(set3)

# View the set.
print(x)

# View the data type.
print(type(x))

{'cherry', 'apple', 'banana'}
{'google', 'apple', 'microsoft'}
{'google', 'microsoft'}
<class 'set'>

In [45]:
#Determining differences between sets can also be done using symmetric_difference() method

# View the set.
print(set1)
print(set2)

# Example of the symmetric_difference() method.
# Syntax : set.symmetric_difference(set).
a = set1.symmetric_difference(set2)

# View the set.
print(a)

# View the data type.
print(type(a))

{1, 2, 3, 4, 5, 6, 7, 'cake'}
{5, 6, 7}
{1, 2, 3, 4, 'cake'}
<class 'set'>

In [46]:
#Applying learning

# Find the intersection.
fruit = {'apple', 'pear', 'watermelon','tomato'}
vegetables = {'carrot', 'tomato', 'parsnip', 'leek'} 

print(fruit.intersection(vegetables))

{'tomato'}

In [47]:
#adding to a set

# Add beetroot to vegetables with add().
vegetables.add('beetroot')

# View set vegetable.
print(vegetables)

{'parsnip', 'beetroot', 'tomato', 'carrot', 'leek'}

In [48]:
#Combine two sets with union ()

edible_plants = vegetables.union(fruit)

# View the vegetables set.
print(edible_plants)

{'pear', 'parsnip', 'beetroot', 'tomato', 'carrot', 'apple', 'watermelon', 'leek'}

In [49]:
# Identify the vegetables in the edible_plants set.
# Use .difference().
print(edible_plants.difference(fruit))

{'carrot', 'leek', 'beetroot', 'parsnip'}

In [53]:
#Conditional statements

#IF Statement

a=5
b=10

if a>b:
    print("a is greater than b")
elif a<b:
    print("a is less than b")
else:
    print("a is equal to b")

a is less than b

In [56]:
#Writing loop codes to repeat code blocks more efficiently
#two types of loop statements; while and for 

#While loop

counter = 0

while counter<5:
    print(counter)
    counter =counter+1
print("This will print once")

#loop stops when value hits 5

0
1
2
3
4
This will print once

In [58]:
# For loop

for i in range(5):
    print("hello yar world:",i)

hello yar world: 0
hello yar world: 1
hello yar world: 2
hello yar world: 3
hello yar world: 4

In [59]:
for i in [10,100,1000]:
    print ('hellow yar world:',i)

hellow yar world: 10
hellow yar world: 100
hellow yar world: 1000

In [62]:
#for loops are used to loop over a collection of data structures and perform an action repeatedly.

cities=("London", "Paris", "New York City", "Singapore")
print(cities)

a="Top Cities"
for z in a:
    print(i)

('London', 'Paris', 'New York City', 'Singapore')
s
s
s
s
s
s
s
s
s
s

In [73]:
#Creating Fib series using Python
#list 1 is a list with the first and second values of the fib series:

list_1 = [0,1]

#Here n = number of terms
n = int(input("Enter number of term: "))
if n == 1:
    print("0")
elif n == 2:
    print(list_1)
else:
    while (len(list_1) < n):
        list_1.append(0)
    if (n==0 or n==1):
        print(1)
    else:
        list_1[0] = 0
        list_1[1] = 1
        for i in range (2,n):
            list_1[i] = list_1[i-1]+list_1[i-2]
        print(f'First {n} terms of fibonacci series {list_1}')
        print('bye and see how I powerful I am!')

Enter number of term: 23
First 23 terms of fibonacci series [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]
bye and see how I powerful I am!

In [71]:
# Create a list of five cars.
cars = ["Nissan", "Ford", "Toyota", "Fiat", "VW"]

# Create a for loop.
for i in cars:
    # Create a statement.
    print(i)
    
    # Create an if statement.
    if i== 'Toyota':
        # Insert a break statement.
        break

Nissan
Ford
Toyota

In [80]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def introduce(self):
        print(f"Hello my name is {self.name} and I\'m {self.age} years old.")

person_object = Person('Jane', '22')
person_object.introduce()

Hello my name is Jane and I'm 22 years old.

In [82]:
class Person:
    def __init__(self, name, age, language):
        self.name = name
        self.age = age
        self.language = language
    def introduce(self):
        print(f"Hello my name is {self.name}. I'm {self.age} years old and I speak {self.language}.")

person_object = Person('Saurav', '43', 'Bangla')
person_object.introduce()

Hello my name is Saurav. I'm 43 years old and I speak Bangla.

In [84]:
class Person:
    def __init__(self, name, age, language):
        self.name = name
        self.age = age
        self.language = language
    def introduce(self):
        print(f"Hello my name is {self.name} and I\'m {self.age} years old and I speak {self.language}.")

person_object = Person('Jane', '22', 'German')
person_object_2 = Person('Ted', '24', 'French')
person_object_3 = Person('Saskia', '20', 'Italian')
person_object_4 = Person('Saurav', '43', 'Bangla')

person_object.introduce()
person_object_2.introduce()
person_object_3.introduce()
person_object_4.introduce()

Hello my name is Jane and I'm 22 years old and I speak German.
Hello my name is Ted and I'm 24 years old and I speak French.
Hello my name is Saskia and I'm 20 years old and I speak Italian.
Hello my name is Saurav and I'm 43 years old and I speak Bangla.

In [85]:
class Person:
    name = "Jane"
    age = 22

x = hasattr(Person, 'age')
print(x)

True

In [86]:
class Person:
    name = 'Jane'
 
x = hasattr(Person, 'age')
print(x)

False

In [87]:
class Person:
    name = 'Jane'
    age = 22

x = getattr(Person, 'age')
print(x)

22

In [91]:
class Person:
    name = 'Jane'
 
x = getattr(Person, 'age')
print(x)

AttributeError: type object 'Person' has no attribute 'age'

In [92]:
class Person:
    name = 'Jane'
    age = 22

setattr(Person, 'age', 32)

x = getattr(Person, 'age')

print(x)

32

In [93]:
class Person:
    name = 'Jane'
    age = 32

delattr(Person, 'age')

x = getattr(Person, 'age')
print(x)

AttributeError: type object 'Person' has no attribute 'age'

In [94]:
class Person:
    def __init__(self, name, age, language):
        self.name = name
        self.age = age
        self.language = language
    def introduce(self):
         print(f"Hello my name is {self.name} and I\'m {self.age} years old and I speak {self.language}.")

class Student(Person):
    pass

person_object = Student('James', '30', 'English')
person_object.introduce()

Hello my name is James and I'm 30 years old and I speak English.

In [95]:
# Printing a specific date.
import datetime
d = datetime.date(2021, 6, 10)

print(d)
print(type(d))

2021-06-10
<class 'datetime.date'>

In [96]:
# Import the DateTime module and date class.
from datetime import date

d = date(2022, 2, 10)
print(d)
print(type(d))

2022-02-10
<class 'datetime.date'>

In [97]:
x = datetime.datetime.now()
print(x)

2022-06-06 13:04:48.770939

In [98]:
x = datetime.datetime.now()
print(x)

2022-06-06 13:05:01.969210

In [99]:
# Printing current year, month and day.
from datetime import date
#date object of today's date
today = date.today()

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2022
Current month: 6
Current day: 6

In [100]:
# Import module.
from datetime import time

# Creating a time object.
# time(hour, minute, second, microsecond). 
t = time(6, 45, 25, 234566) 

print("time =",t)

time = 06:45:25.234566

In [101]:
# Creating a time object.
# time (hour, minute, second, microsecond) 
t = time (6, 45, 25, 234566)

print("hour =", t.hour)
print("minute =", t.minute)
print("second =", t.second)
print("microsecond =", t.microsecond)

hour = 6
minute = 45
second = 25
microsecond = 234566

In [102]:
# Import module and class.
from datetime import datetime

t = datetime (2017, 11, 28, 23, 55, 59, 342380)
print("year =", t.year)
print("month =", t.month)
print("day =", t.day)
print("hour =", t.hour)
print("minute =", t.minute)
print("seconds =", t.second)
print("micro seconds =", t.microsecond)

year = 2017
month = 11
day = 28
hour = 23
minute = 55
seconds = 59
micro seconds = 342380

In [103]:
from datetime import datetime, date 
# You can import more than one class or object at a time from a module.

t1 = datetime(year=2021, month=12, day=15, hour=5, minute=45, second=25)
t2 = datetime(year=2019, month=10, day=28, hour=12, minute=55, second=13)
t3 = t1 - t2
print("time difference =", t3)
print("type of t3 =", type(t3))

time difference = 778 days, 16:50:12
type of t3 = <class 'datetime.timedelta'>

In [104]:
t1 = datetime(year=2021, month=12, day=15, hour= 5, minute=45, second=25)
t2 = datetime(year=2019, month=10, day=28, hour= 12, minute=55, second=13)
t3 = t1 - t2

print("time difference in seconds =", t3.total_seconds())
print("type of t3 =", type(t3))

time difference in seconds = 67279812.0
type of t3 = <class 'datetime.timedelta'>

In [113]:
# Import the datetime module and datetime class.
from datetime import datetime

# Current date and time .
now = datetime.now() 
print('Current time', now)

# Using strftime to only print hours, minutes and seconds. 
t = now.strftime("%H:%M:%S")
print("Time with only hours, minutes and seconds:", t)

Current time 2022-06-06 13:14:46.439796
Time with only hours, minutes and seconds: 13:14:46

In [114]:
# Changing the separators: 
t1 = now.strftime("%m/%d/%Y")

# MM/DD/YY format.
print("Date with / separators :", t1)

Date with / separators : 06/06/2022

In [116]:
# Import modules and classes.
import datetime 
from datetime import datetime, date 
import pytz

local = datetime.now()
print("Local:", local.strftime ("%d/%m/%Y, %H:%M:%S"))

# Here, datetime_NY and datetime_London are datetime objects containing the 
# current date and time of their respective time zones.
tz_NY = pytz.timezone ('America/New_York')
datetime_NY = datetime.now(tz_NY)

print("NY:", datetime_NY.strftime("%d/%m/%Y, %H:%M:%S"))

tz_London = pytz.timezone ('Europe/London') 
datetime_London = datetime.now(tz_London)

print("London:", datetime_London.strftime ("%d/%m/%Y, %H:%M:%S"))

Local: 06/06/2022, 13:15:26
NY: 06/06/2022, 05:15:26
London: 06/06/2022, 10:15:26

In [119]:
#Practical activity 1.3.5

import datetime
from datetime import time
t = time (14, 42, 5, 566)

print("time =",t)

time = 14:42:05.000566

In [120]:
import datetime
from datetime import datetime

t = datetime (2019, 1, 28, 23, 55, 59, 1023)
print("year =", t.year)
print("month =", t.month)
print("day =", t.day)
print("hour =", t.hour)
print("minute =", t.minute)
print("seconds =", t.second)
print("micro seconds =", t.microsecond)

year = 2019
month = 1
day = 28
hour = 23
minute = 55
seconds = 59
micro seconds = 1023

In [121]:
t = datetime (2017, 11, 28, 23, 55, 59, 342380)
print("year =", t.year)
print("month =", t.month)
print("day =", t.day)
print("hour =", t.hour)
print("minute =", t.minute)
print("seconds =", t.second)
print("micro seconds =", t.microsecond)

year = 2017
month = 11
day = 28
hour = 23
minute = 55
seconds = 59
micro seconds = 342380

In [129]:
import this