# 3.2.10 Peer Review: Pythonic code & user-defined functions.

   Hello Peer,
   
   Please ensure that you have the 'products.csv' file stored in the same directory as where 
   you have downloaded this Jupyter notebook. Failing to do so will mean that my code snippets won't run :-(
    
   Thanks & look forward to hearing your thoughts on my submission.

In [96]:
# Set up the environment first.
import pandas as pd

# Create the DataFrame by reading the csv file.
products = pd.read_csv('products.csv')

# Determine shape of products.
print(products.shape)

# Shows there are 3945 rows of data & 3 columns.

(3945, 2)

In [97]:
# Examine the key features of the DataFrame.
# This helps us gain an overview of the DataFrame that we are dealing with.
# Look at the top of the DataFrame first.
products.head()

# Note column names.
# Product names listed under the column 'Description'.

  StockCode                  Description
0     10002   INFLATABLE POLITICAL GLOBE
1     10080     GROOVY CACTUS INFLATABLE
2     10120                 DOGGY RUBBER
3    10123C         HEARTS WRAPPING TAPE
4    10124A  SPOTS ON RED BOOKCOVER TAPE

In [98]:
# Look at the other end of the rows too.
# This completes our overview of the DataFrame that we are dealing with.
products.tail()

# Note last row likely to be a footer.

         StockCode                        Description
3940  gift_0001_20  Dotcomgiftshop Gift Voucher £20.0
3941  gift_0001_30  Dotcomgiftshop Gift Voucher £30.0
3942  gift_0001_40  Dotcomgiftshop Gift Voucher £40.0
3943  gift_0001_50  Dotcomgiftshop Gift Voucher £50.0
3944             m                             Manual

  Question 1

In [99]:
# Display the question. 
print("Question: How many products contain the word 'Fire' in their description?")

# Look for the word "Fire" in the Description column.
# Note that the search needs to case insensitive.
Fire = products.loc[products['Description'].str.contains("Fire", case=False)]

# Answer the question.
print("As can be seen below, the number of products containing the word 'Fire' in their description is ", len(Fire))

# Display the evidence.
Fire

Question: How many products contain the word 'Fire' in their description?
As can be seen below, the number of products containing the word 'Fire' in their description is  9

     StockCode                          Description
1318     22428             ENAMEL FIRE BUCKET CREAM
3033    84569B       PACK 3 FIRE ENGINE/CAR PATCHES
3626    90039A     FIRE POLISHED GLASS BRACELET RED
3627    90039B  FIRE POLISHED GLASS BRACELET MONTAN
3628    90039C   FIRE POLISHED GLASS BRACELET BLACK
3629    90039D   FIRE POLISHED GLASS BRACELET GREEN
3656    90060B       FIRE POLISHED GLASS NECKL GOLD
3657    90060D     FIRE POLISHED GLASS NECKL BRONZE
3658    90060F      FIRE POLISHED GLASS NECKL GREEN

Question 2

In [100]:
# Display the question. 
print("Question: How many products contain the word 'candle' in their description?")

# Look for the word "candle" in the Description column.
# Note that the search needs to case insensitive.
Candle = products.loc[products['Description'].str.contains("Candle", case=False)]

# Answer the question.
print("As can be seen below, the number of products containing the word 'candle' in their description is ", len(Candle))

# Display the evidence.
Candle

Question: How many products contain the word 'candle' in their description?
As can be seen below, the number of products containing the word 'candle' in their description is  178

     StockCode                         Description
83      17012A  ORIGAMI VANILLA INCENSE/CANDLE SET
84      17012B  ORIGAMI JASMINE INCENSE/CANDLE SET
86      17012D     ORIGAMI ROSE INCENSE/CANDLE SET
87      17012E    ORIGAMI OPIUM INCENSE/CANDLE SET
107     17136A      BLUE STONES ON WIRE FOR CANDLE
...        ...                                 ...
3530    85230A         OPIUM SCENTED VOTIVE CANDLE
3531    85230B      CINNAMON SCENTED VOTIVE CANDLE
3532    85230E      STRAWBRY SCENTED VOTIVE CANDLE
3533    85230F               JASMINE VOTIVE CANDLE
3534    85230G                ORANGE VOTIVE CANDLE

[178 rows x 2 columns]

Question 3

In [101]:
# Display the question. 
print("How many products contain the word 'matches' in their description?")

# Look for the word "matches" in the Description column.
# Note that the search needs to case insensitive.
Matches = products.loc[products['Description'].str.contains("Matches", case=False)]

# Answer the question.
print("As can be seen below, the number of products containing the word 'matches' is ", len(Matches))

# Display the evidence.
Matches

How many products contain the word 'matches' in their description?
As can be seen below, the number of products containing the word 'matches' is  6

    StockCode                      Description
669     21584     RETROSPOT SMALL TUBE MATCHES
670     21586  KINGS CHOICE GIANT TUBE MATCHES
671     21587     COSY HOUR GIANT TUBE MATCHES
672     21588     RETROSPOT GIANT TUBE MATCHES
673     21591      COSY HOUR CIGAR BOX MATCHES
674     21592      RETROSPOT CIGAR BOX MATCHES

Thanks again for reviewing my work.