In [2]:
#Example of creating a list
#Notice the use of square brackets[]
newlist = ['python', 'java', 'ruby']
print(newlist)

['python', 'java', 'ruby']

In [4]:
#This is a new list with mixed data types such as string, integer and float
list2 = ['cat', 12, 15.2, 14.33333]
print(list2)

['cat', 12, 15.2, 14.33333]

In [5]:
#Lists can have duplicate values
list_a= ['apple', 'banana', 'james', 5, 2, 4, 6, 8, 10.2, 4, 'banana', 'james']
print(list_a)

['apple', 'banana', 'james', 5, 2, 4, 6, 8, 10.2, 4, 'banana', 'james']

In [7]:
#This is a an example of a nested list which means its a list inside a list
list_nested = ['apples', 'oranges', 'gauva', 3, 2.3, 5.6, 1, ['toby', 'spinneys', 'grandoise']]
print(list_nested)

['apples', 'oranges', 'gauva', 3, 2.3, 5.6, 1, ['toby', 'spinneys', 'grandoise']]

In [8]:
#Example of count function in lists
planets = ['mercury','venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

#Counting the number of planets in this list
len(planets)

8

In [9]:
#Adding to list using append function
planets.append('pluto')

print(planets)
len(planets)

#note how you dont need to list all the planets again in this line
#it just pulls the list from previous line and adds the new item

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto']

9

In [10]:
#Using insert function to add an item at a particular order in list
planets.insert(0, 'pluto')

print(planets)
len(planets)

['pluto', 'mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto']

10

In [12]:
#Using extend function to append elements from one list to another
#Create a second list
dwarf_planets = ['Ceres', 'Makemake', 'Haumea', 'Eris']

#Second list is appended to starting list
planets.extend(dwarf_planets)

print(planets)
len(planets)

['pluto', 'mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto', 'Ceres', 'Makemake', 'Haumea', 'Eris']

14